<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Bilestox#2713">
    <meta name="description"
        content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
    <meta name="og:url" content="https:www.Nexterbot.xyz">
    <meta name="keywords" content="Nexter, Bilestox, Discord Bot, Discord.js, Nexter">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nexter Home</title>
    <meta property="og:description"
        content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
    <meta property="og:url" content="http://www.Nexterbot.xyz">
    <meta property="og:title" content="Nexter">
    <meta property="og:site_name" content="website">
    <meta property="og:image" content="./img/Logo.png">
    <link rel="stylesheet" href="./404.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="./img/Logo.png">
</head>

<body>
    <div class="flex-container">
        <div class="text-center">
            <h1>
                <span class="fade-in" id="digit1">4</span>
                <span class="fade-in" id="digit2">0</span>
                <span class="fade-in" id="digit3">4</span>
            </h1>
            <h3 class="fadeIn">PAGE NOT FOUND</h3>
            <button type="button" name="button"><a href="./">Return To Home</a></button>
        </div>
    </div>
</body>

</html>