<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="author" content="chentouf#3066">
   <meta name="description"
      content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
   <meta name="og:url" content="https:www.Nexterbot.xyz">
   <meta name="keywords" content="Nexter, Bilestox, Discord Bot, Discord.js, Nexter">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Nexter Home</title>
   <meta property="og:description"
      content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
   <meta property="og:url" content="http://www.Nexterbot.xyz">
   <meta property="og:title" content="Nexter">
   <meta property="og:site_name" content="website">
   <meta property="og:image" content="./img/Logo.png">
   <link rel="stylesheet" href="./home.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="icon" href="./img/Logo.png">
</head>

<body>
   <!-- Header -->
   <header>
      <div class="Logo">
         <a href="./">Nexter</a>
      </div>
      <div class="navigation">
         <a href="./invite">Invite</a>
         <a href="./support">Support</a>
         <a href="./status">Status</a>
      </div>
   </header>
   <!-- Description -->
   <section class="Description">
      <div>
         <h2><span>Why Nexter</span><br>A simple discord bot for manage your server easly,<br> with over 25 command and
            <%- servers -%> servers and <%- users -%> users,<br> also Nexter content music,public and moderation
                  commands. </h2>
         <br>
         <a href="./invite">Invite</a>
         <a href="./support">Support</a>
      </div>
   </section>
   <!-- <section class="Line">

   </section> -->
   <section id="Features" class="Features">
      <h2>Features</h2>
      <div class="cards">
         <div class="card">
            <div class="iconc">
               <a><i class="fa-solid fa-globe"></i></a>
            </div>
            <h3>Hosting</h3>
            <p>Don't Worry About Hosting, Nexter Will Shutdown Only On Updates Times.</p>
         </div>
         <!-- Card -->
         <div class="card">
            <div class="iconc">
               <a><i class="fa-solid fa-compact-disc"></i></a>
            </div>
            <h3>Music</h3>
            <p>Don't miss a chance! Listen to the music you grew up with for free with Nexter.</p>
         </div>
         <!-- Card -->
         <div class="card">
            <div class="iconc">
               <a><i class="fa-solid fa-headset"></i></a>
            </div>
            <h3>Support</h3>
            <p>Quick support, support team will help you anytime and anywhere.</p>
         </div>
         <!-- Card -->
         <div class="card">
            <div class="iconc">
               <a><i class="fa-solid fa-shield"></i></a>
            </div>
            <h3>Protection</h3>
            <p>Don't worry about security, it stays protected 24/7 and encrypted</p>
         </div>
         <!-- End -->
      </div>
      <div class="Team">
         <h2>Our Team</h2>
         <div class="TeamCarts">
            <div class="cardt1">
               <h3>Chentouf#3066</h3>
               <img src="./img/banners/Bilestox-banner.gif" />
               <p>16 Years Old <br> Bot Developer<br> Bot Owner</p>
            </div>
            <div class="cardt1">
               <h3>N1CHO</h3>
               <img src="./img/banners/N1CHO-banner.png" />
               <p>18 Years Old <br> Staff Manager<br> Assistant Owner</p>
            </div>

            <div class="cardt1">
               <h3>Pisto</h3>
               <img src="./img/banners/PISTO-banner.jpg" />
               <p>17 Years Old <br> Bot Designer <br>Administrator</p>

            </div>

         </div>
      </div>
   </section>
   <footer class="Footer">
      <p>&copy; 2022 All Rights Reserved</p>
      <div class="Guild-Lines">
         <a href="./termes-of-use">Termes Of Use</a>
         <a href="./privacy-policy">Privacy Policy</a>
      </div>
   </footer>
</body>

</html>
