<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="author" content="Bilestox#2713">
   <meta name="description"
      content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
   <meta name="og:url" content="https:www.Nexter.xyz">
   <meta name="keywords" content="Nexter, Bilestox, Discord Bot, Discord.js, Akay Suichi">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Nexter Termes Of Use</title>
   <meta property="og:description"
      content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
   <meta property="og:type" content="website">
   <meta property="og:url" content="http://www.akaybot.xyz">
   <meta property="og:title" content="Nexter">
   <meta property="og:site_name" content="website">
   <link rel="stylesheet" href="./privacy-policy.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="icon" href="./img/Logo.png">
</head>

<body>
   <!-- Header -->
   <header>
      <div class="Logo">
         <a href="./">Nexter</a>
      </div>
      <div class="navigation">
         <a href="./invite">Invite</a>
         <a href="./support">Support</a>
         <a href="./status">Status</a>
      </div>
   </header>
   <section class="Main">
      <div class="Termes">
         <div class="TextH2">
            <h2>Privacy Policy: </h2>
         </div>
         <div class="TextP">
            <p> 1- Data and information that we request from our clients:
               <br>
               Nexter site requests some data and information from the clients in order to be able to
               register on our site and use its services for example our site requests client's e-mail, his
               name and phone number and he should make a password for his account on our site and other
               information may be requested by our site.
            </p>
            <p> 2- The client's responsibility on our site:
               <br>
               The client is responsible for the safety of his account on our site. He should not provide
               anyone with sensitive information about his account such as giving someone the password of
               his account, which causes some damage to the client account. We advise our clients do not
               give any private information to other people.
            </p>
            <p> 3- How we protect our clients' data in our site:-
               <br>
               Our site follows the best procedures globally to protect our clients' personal data and
               information. Our site ensures to all clients that their data will be secure with us. Our
               site complies with the requirements of the European Union to protect the client data (GDPR).
            </p>
            <p> 4- The uses of our site for clients' data: -
               <br>
               Our site uses the client data only to provide their services to them, when we obtain useful
               information to the site and develop its services. When we respond to the client inquiries,
               and when we carry out purchases.
            </p>
            <p> 5. We follow the European Union requirements to protect our client data:
               <br>
               The European Union has created a law that greatly helps to protect the client data. We work
               in all ways to preserve client data. This law allows to all clients to delete or modify
               their data when it occurs a breach of this data, and our site must report this breach within
               72 hours of its occurrence.
            </p>
            <p> 6- Our site rights:-
               <br>
               Our site has the complete right to modify any item of its privacy policy page or add some
               new items to it in any time if our administrator sees that it is necessary to do this, so
               our dear clients, you should take a look from time to time to our privacy policy page to be
               aware off any changes made upon our privacy policy page.
            </p>
         </div>
   </section>
   <!-- Footer -->
   <footer class="Footer">
      <p>&copy; 2022 All Rights Reserved</p>
      <div class="Guild-Lines">
         <a href="./termes-of-use">Termes Of Use</a>
         <a href="./privacy-policy">Privacy Policy</a>
      </div>
   </footer>