<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="author" content="Bilestox#2713">
   <meta name="description"
      content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
   <meta name="og:url" content="https:www.Nexter.xyz">
   <meta name="keywords" content="Nexter, Bilestox, Discord Bot, Discord.js, Akay Suichi">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Nexter Termes Of Use</title>
   <meta property="og:description"
      content="Nexter a simple moderation bot for manage your server easly, also Nexter have other commands like fun & information (banner, userinfo, avatar, etc..)">
   <meta property="og:type" content="website">
   <meta property="og:url" content="http://www.akaybot.xyz">
   <meta property="og:title" content="Nexter">
   <meta property="og:site_name" content="website">
   <link rel="stylesheet" href="./termes-of-use.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="icon" href="./img/Logo.png">
</head>

<body>
   <!-- Header -->
   <header>
      <div class="Logo">
         <a href="./">Nexter</a>
      </div>
      <div class="navigation">
         <a href="./invite">Invite</a>
         <a href="./support">Support</a>
         <a href="./status">Status</a>
      </div>
   </header>
   <section class="Main">
      <div class="Termes">
         <div class="TextH2">
            <h2>Termes Of Use :</h2>
         </div>
         <div class="TextP">
            <p>The terms and conditions of our site serve as a guide for clients to show them how to use our site and
               how to use its services with ease.</p>
         </div>
         <div class="TextH2">
            <h2>First: General conditions for Nexter :</h2>
         </div>
         <div class="TextP">
            <p>1- All the terms and conditions mentioned on this page are applied to all users of the site.</p>
            <p>2 - Once the client is registered on our site, it means that he completely agrees with the terms and
               conditions mentioned on this page and any terms that may be added in the future.</p>
            <p>3 - All clients must certify that the personal data they provide to us is correct so that they can
               register on the site and get its services.</p>
            <p>4 - We welcome the inquiries of all clients, and our technical support staff is ready to answer all
               inquiries of clients throughout the day.</p>
            <p>5 - It is possible for us to change the terms and conditions at any time or add new ones, so we kindly
               ask clients to see them from time to time to be aware of any new terms that have been added.</p>
         </div>
         <div class="TextH2">
            <h2>Second: Terms of Use of Nexter Website :</h2>
         </div>
         <div class="TextP">
            <p>1. The clients should provide us with all required information and data and it must be 100% accurate.</p>
            <p>2. The site is not responsible for any damage caused to the client as a result of misuse of our site or a
               sudden failure of our site.</p>
            <p>3. It is prohibited to use our services for unauthorized commercial use.</p>
            <p>4. The user assures that his use of bots will not harm our site and will not violate the terms and
               conditions of our site.</p>
            <p>5 - The user assures that he is responsible for any violation issued from him, and he is responsible for
               this violation.</p>
         </div>
   </section>
   <!-- Footer -->
   <footer class="Footer">
      <p>&copy; 2022 All Rights Reserved</p>
      <div class="Guild-Lines">
         <a href="./termes-of-use">Termes Of Use</a>
         <a href="./privacy-policy">Privacy Policy</a>
      </div>
   </footer>